@use '../01-tools' as *;

.c-about {
    @include mq(large) {
        display: flex;
        justify-content: space-between;
    }
    &__image {
        width: 100%;
        margin-bottom: rem(16px);
        @include mq(large) {
            width:  38%;
            height: auto;
            margin-bottom: 0;
        }
    } &__inner {
        padding: rem(2px);
        @include mq(large) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 55%;
        }
    }
    &__paragraph {
        padding-bottom: rem(24px);
        color: var(--secondary-text);
    }
}