@use '../01-tools' as *;

.contactForm {
    margin-top: rem(32px);
	&__input,
	&__submit {
		color: var(--secondary-text);
		width: 100%;
		padding: rem(12px);
		border-radius: 5px;
		border: 2px solid rgba(0, 0, 0, 0.1);
		background: var(--primary-bg);
	}
	&__input {
		outline: 0;
		margin-bottom: rem(48px);
	}
	&__input:focus { 
		border: 2px solid var(--secondary-text); 
	}
	&__submit {
		color: var(--primary-text);
		cursor: pointer;
		font-weight: 600;
		letter-spacing: rem(1px);
	}
	&__submit:hover { 
		color:var(--tertiary-bg);
		background: var(--primary-text);
	}
}