@use '../01-tools' as *;

.hero {
    margin-top: rem(96px);
    width: 100%;
    text-align: center;
    color: white;
    &__intro {
        margin-bottom: rem(8px);
    }
    span {
        color: var(--accent);
    }
}