@use '../01-tools' as *;

.c-navigation {
    position: fixed;
    top: rem(96px);
    right: -100%;
    transition: right 0.25s ease 0s;
    border-top: 3px solid var(--secondary-text);
    height: 100%;
    background-color: var(--tertiary-bg);
    @extend %width-100;
    &[data-visible="true"] {
        right: 0;
    }
    @include mq(medium) {
        position: static;
        border-top: none;
        width: 60%;
        max-width: rem(510px);
        height: initial;
        background-color: transparent;
    }
}

    .c-navigation__inner {
        @extend %width-100;
        @extend %flex;
        @extend %flex-d-c;
        @extend %flex-jc-sb;
        padding: rem(32px) rem(24px) 0;
        @include mq(medium) {
            flex-direction: row;
            justify-content: space-between;
            height: initial;
            padding: 0;
            background-color: initial;
        }
    }

    .c-navigation__link {
        display: inline-block;
        margin-bottom: rem(32px);
        transition: color, border-bottom 0.30s;
        font-size: rem(12px);
        line-height: rem(24px);
        font-weight: 600;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        color: var(--secondary-text);
        @include mq(medium) {
            margin-bottom: initial;
        }  
    } 
    .c-navigation__link.-project {
        margin-bottom: initial;
    } 

    .c-navigation__link:hover {
        color: var(--accent); 
    }