@use '../01-tools' as *;

.c-navigation {
    height: 100%;
    position: fixed;
    top: rem(96px);
    right: -100%;
    z-index: 10;
    transition: right 0.25s ease 0s;
    background-color: rgba(0, 0, 0, 0.85);
    @extend %width-100;
    &[data-visible="true"] {
        right: 0;
    }
    @include mq(medium) {
        width: rem(490px);
        height: initial;
        position: static;
        background-color: transparent;
    }
}

    .c-navigation__inner {
        height: rem(235px);
        padding: rem(50px) 5%;
        background-color: var(--tertiary);
        @extend %width-100;
        @extend %flex;
        @extend %flex-d-c;
        @extend %flex-jc-sb;
        @include mq(medium) {
            padding: 0;
            height: initial;
            flex-direction: row;
            background-color: initial;
            justify-content: space-between;
        }
    }

    .c-navigation__link {
        color: var(--primary);
        font-weight: 400;
        font-size: rem(24px);
        line-height: rem(25px);
        letter-spacing: rem(2px);
        @include mq(medium) {
            color: var(--tertiary-light);
            font-size:   rem(14px);
            line-height: rem(14px);
        }
    }