@use '../01-tools' as *;

.c-presentation {
    margin:  0 auto;
    max-width: rem(800px);
}

    .c-presentation__image {
        width: 100%;
    }

    .c-presentation__header,
    .c-presentation__subheader { 
        font-family: Poppins;
    }

    .c-presentation__header {
        font-size: rem(28px);
        font-weight: 600;
        margin-bottom: rem(24px);
        @include mq(medium) {
            font-size: rem(40px);
        }
    }

    .c-presentation__subheader {
        margin-top: rem(24px);
        font-size: rem(24px);
        line-height: 1.5;
        color: var(--primary-text);
        font-weight: 400;
        margin-bottom: rem(16px);

        @include mq(medium) {
            font-size: rem(28px);
        }
    }

    .c-presentation__paragraph {
        color: #757575;
        font-size: rem(14px);
        margin-bottom: rem(16px);
        @include mq(medium) {
            font-size: rem(16px);
        }
    }

    .c-presentation__paragraph.-space {
    margin-top: rem(16px);
    }