@use '../01-tools' as *;

.view {
    font-size: rem(12px);
    display: inline-block;
    border-bottom: rem(3px) solid var(--accent);
    letter-spacing: 0.1rem;
    line-height: rem(32px);
    color: var(--primary-text);
    margin-bottom: rem(16px);
    @include mq(medium) {
        font-size: rem(14px);
    }
}

.view.-code {
    margin-right: rem(16px);
    @include mq(medium) {
        margin-right: rem(32px);
    }

}

.view:hover {
    color: var(--accent);
}