@use '../abstracts' as *;

.btn-about {
    fill: $orange;
    width:  rem(40px);
    height: rem(40px);
    margin-top: rem(40px);
    border-radius: 50%;
    border: 2px solid $orange;
    &:hover {
        fill: $white;
        border: 2px solid $white; 
    }
    @include mq(medium) {
        margin-top: rem(80px);
    }
}

.btn-projects {
    display: block;
    width: fit-content;
    min-width: rem(80px);
    margin: rem(16px) auto 0;
    padding: rem(10px) rem(16px);
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 24px;
    color: $orange;
    background-color: $dark-blue;
    border: 2px solid $orange;
    &:hover {
        color: $dark-blue;
        background-color: $orange;
    }
    @include mq(medium) {
        margin-top: rem(40px);
    }
    &--p {
        margin: 0;
        cursor: pointer;
        padding-top: rem(8px);
        padding-bottom: rem(8px);
    }
    &--active {
        color: $dark-blue;
        background-color: $orange;
    }
}

.btn-top {
    display: none;
    font-weight: 600;
    letter-spacing: 1px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    border: 2px solid $orange;
    background-color: $dark-blue;
    color:   $orange;
    cursor: pointer;
    padding: 12px;
    border-radius: 5px;
    &:hover {
        color: $dark-blue;
        background-color: $orange;
    }
}