@use '../01-tools' as *;

.f-mobileNavIcons {
    // cursor: pointer;
    // width:  rem(24px);
    // height: rem(20px);
    // border: 0;
    // background-color: transparent;
    // background-image: url(../icon-hamburger.svg);
    // background-repeat: no-repeat;
    &[aria-expanded="true"] {
        // background-image: url(../icon-close.svg);
    }
    @include mq(medium) {
        display: none;
    }
}



.l-header {
    color: black;
    height: rem(96px);
    @extend %flex;
    @extend %flex-ai-c;
    @extend %flex-jc-sb;
}

