@use "../01-tools" as *;

.l-heroSection {
    display: flex;
    align-items: center;
    height: calc(100vh);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/uc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
