@use '../01-tools' as *;

.l-heroSection {
    display: flex;
    align-items: center;
    height: 100vh;
    background:linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("../zz.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}