@use '../01-tools' as *;

.skills {
    display: grid;
    gap: rem(32px);
    grid-template-columns: repeat(2, 1fr);
    @include mq(medium) {
        grid-template-columns: repeat(3, rem(150px));
        justify-content: space-between;
        row-gap: rem(80px);
    }
    @include mq(large) {
        grid-template-columns: repeat(4, rem(150px));
    } 
}