@use '../01-tools' as *;

.f-btn-about {
    width:  rem(40px);
    height: rem(40px);
    border: 2px solid var(--tertiary-bg);
    border-radius: 50%;
    fill: var(--tertiary-bg);
    &:hover {
        border: 2px solid var(--accent); 
        fill: var(--accent);
    }
}