.f-logo {
    color: black;
    font-family: Kaushan Script, Arial, Helvetica, sans-serif;
    font-weight: 600; 
    font-size: 32px;
}


button {

    background: transparent;
    // border: 10px solid var(--button-color, #000);
    // border-radius: 1rem;
    border: none;
}
  
  /* button one */
  
  .button-one {
    --button-color: #333;
    cursor: pointer;
  }
  
  .button-one .line {
    transition: y 150ms ease-in 150ms, rotate 150ms ease-in, opacity 0ms 150ms;
    transform-origin: center;
  }
  
  .button-one[aria-expanded="true"] .line {
    transition: y 150ms ease-in, rotate 150ms ease-in 150ms, opacity 0ms 150ms;
  }
  
  .button-one[aria-expanded="true"] :is(.top, .bottom) {
    y: 45;
  }
  
  .button-one[aria-expanded="true"] .top {
    rotate: 45deg;
  }
  
  .button-one[aria-expanded="true"] .middle {
    opacity: 0;
  }

  .button-one[aria-expanded="true"] .bottom {
    rotate: -45deg;
  }