@use '../abstracts' as *;

.projects {
    display: grid;
    gap: rem(24px);
    grid-template-columns: 1fr;
    @include mq(medium) {
        gap: rem(32px);
        grid-template-columns: repeat(2, 1fr);
        max-width: rem(800px);
        margin: 0 auto;
    }
    @include mq(large) {
        gap: rem(48px);
        grid-template-columns: repeat(3, 1fr);
        max-width: rem(1220px);
    }
}