@use '../abstracts' as *;

.projects {
    display: grid;
    gap: rem(24px);
    grid-template-columns: 1fr;
    @include mq(medium) {
        gap: rem(32px);
        grid-template-columns: repeat(2, 1fr);
    }
    @include mq(large) {
        gap: 48px;
        grid-template-columns: repeat(3, 1fr);
    }
}