@use '../01-tools' as *;

h1,
h2 {
    font-family: Kaushan Script, Arial, Helvetica, sans-serif;
}

p {
    line-height: rem(26px);
    color: var(--secondary-text);
}

small {
    font-weight: 600;
}

 h1,
.h1 {
    font-size: rem(36px);
    @include mq(small) {
        font-size: rem(40px);
    }
    @include mq(medium) {
        font-size: rem(80px);
    }
}

 h2,
.h2 {
    font-size: rem(32px);
    font-weight: 400;
    margin-bottom: rem(24px);
    @include mq(medium) {
        font-size: rem(40px);
    }
    @include mq(large) {
        margin-bottom: rem(40px);
    }
}

 h3,
.h3 {
    font-weight: 500;
    font-size: rem(16px);
    @include mq(small) {
        font-size: rem(20px);
    }
}

.kaushan {
    font-family: Kaushan Script, Arial, Helvetica, sans-serif;
}