@use '../01-tools' as *;

h1,
h2,
p {
    margin:  0;
    padding: 0;
}

h1 {
    font-size: rem(36.49px);
    @include mq(medium) {
        font-size: rem(83.23px);
    }
}

h2 {
    font-size: rem(32px);
    margin-bottom: rem(24px);
    font-weight: 400;
    font-family: Kaushan Script, Arial, Helvetica, sans-serif;
    @include mq(medium) {
        font-size: rem(40px);
    }
    @include mq(large) {
        margin-bottom: rem(40px);
    }
}

h3 {
    font-size: rem(28.83px);
    @include mq(medium) {
        font-size: rem(32.44px);
    }
}

h4 {
    font-size: rem(14.22px);
    letter-spacing: rem(1px);
    text-transform: uppercase;
    font-weight: 500;
}

p {
    line-height: rem(25.63px);
}