@use '../01-tools' as *;

label {
    color: var(--primary-text);
    display: block;
    font-size: rem(20px);
    padding-bottom: rem(8px);
    font-weight: 500;
}

input,
textarea {
    font-size:   rem(16px);
	line-height: rem(24px);
}

textarea {
    resize: vertical;
	height: rem(160px);
}   