@use '../abstracts' as *;

.about-intro {
    @include mq(medium) {
        margin: auto;
        max-width: rem(800px);
    }
    @include mq(large) {
        display: flex;
        justify-content: space-between;
        max-width: rem(1220px);
    }
    &__image {
        width: 100%;
        border-radius: 10px;
        border: solid 5px $orange;
        @include mq(large) {
            width:  rem(525px);
            height: rem(525px);
        }
    } &__inner {
        padding: rem(4px);
        @include mq(large) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__header {
        margin-top: rem(24px);
        margin-bottom: rem(12px);
        span {
            color: $orange;
        }
        @include mq(large) {
            margin-top: 0;
        }
    }
    &__sub-header {
        margin-bottom: rem(24px);
    }
    &__paragraph {
        padding-bottom: rem(24px);
        @include mq(large) {
            max-width: rem(575px);
        }
    }
}