@use '../abstracts' as *;

.hero {
    width: 100%;
    color: $white;
    text-align: center;
    padding-top: rem(80px);                             
    padding-bottom: rem(200px);
    @include mq(medium) {
        padding: rem(220px) 0;
    }
    @include mq(large) {
        padding: rem(220px) 0;
    }
    &__intro {
        margin-bottom: rem(8px);
        span {
            color: $orange;
        }
    }
}