@use '../abstracts' as *;

.icons {
    display: flex;
    &__link {
        fill: $orange;
        width:  rem(32px);
        height: rem(32px);
        margin-right: rem(24px);
        &:hover {
            fill: $white;
        }
    }
}