@use '../abstracts' as *;

.position {
	height: rem(26px);
	@include mq(medium) {
		height: rem(54px);
	}
	@extend %flex;
	@extend %flex-jc-c;
	@keyframes blink {
		from, to { 
			background-color: transparent 
		}
		50% { 
			background-color: $white; 
		}
	}
	&__text {
		color: $white; 
		font-weight: 400;
        letter-spacing: 2px;
        font-size: rem(25.63px);
        @include mq(medium) {
            font-size: rem(46.18px);
        }
    }
	&__cursor {
		width: rem(3px);
		height: 100%;
		animation: blink .75s step-end infinite;
	}
}