@use '../abstracts' as *;

.skills {
    display: grid;
    gap: rem(32px);
    grid-template-columns: repeat(2, 1fr);
    padding-top: rem(80px);
    @include mq(medium) {
        grid-template-columns: repeat(3, rem(150px));
        justify-content: space-between;
        row-gap: rem(80px);
        max-width: rem(800px);
        margin: 0 auto;
    }
    @include mq(large) {
        grid-template-columns: repeat(4, rem(150px));
        max-width: rem(1220px);
    } 
}
    .skill {
        text-align: center;
    }
        .skill__svg-icon {
            fill: var(--secondary);
            background-color: #f1f1f1;
            padding: rem(24px);
            border-radius: 10px;
            margin-bottom: rem(16px);
        }