@use '../abstracts' as *;

.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(16px);
    margin-bottom: rem(48px);
    max-width: rem(315px);
    margin-left: auto;
    margin-right: auto;
    @include mq(medium) {
        max-width: initial;
        gap: rem(32px);
        margin-bottom: rem(80px);
    }
}